body{
font-family: Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
width:350px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
margin-bottom:20px;
}

label{
display:block;
margin-top:10px;
}

input{
width:100%;
padding:8px;
margin-top:5px;
border:1px solid #ccc;
border-radius:5px;
}

button{
margin-top:15px;
padding:10px;
width:100%;
background:#007bff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.error{
color:red;
font-size:12px;
}

.passwordBox{
display:flex;
}

.passwordBox input{
flex:1;
}

.passwordBox button{
width:70px;
margin-left:5px;
}

.strength{
height:6px;
background:#ddd;
margin-top:5px;
border-radius:3px;
}

#strengthBar{
height:6px;
width:0%;
border-radius:3px;
}

#success{
color:green;
text-align:center;
margin-top:10px;
}